<div class="debug" *ngIf="formulario" class="jumbotron">
    <h4>Detalhes do form</h4>
    <hr/>
    <pre>Form válido: {{ formulario.valid }}</pre>
    <pre>Form submetido: {{ formulario.submitted }}</pre>
    <pre>Valores: <br>{{ formulario.value | json }}</pre>
</div>
