<div class="content">
    <div class="brand">
        <a class="link" routerLink="/index">AdminCAST</a>
    </div>
    <form [formGroup]="loginForm" id="login-form" action="javascript:;" method="post">
        <h2 class="login-title">Autenticação no sistema</h2>

        <div class="form-group">
            <div class="input-group-icon right">
                <div class="input-icon"><i class="fa fa-envelope"></i></div>
                <input formControlName="user" class="form-control"   name="user" placeholder="Usuário" autocomplete="off">
            </div>
        </div>
        <div class="form-group">
            <div class="input-group-icon right">
                <div class="input-icon"><i class="fa fa-lock font-16"></i></div>
                <input formControlName="password" class="form-control"   name="password" placeholder="Senha" autocomplete="off">
            </div>
        </div>
        <div class="form-group d-flex justify-content-between">
            <label >
            </label>
            <a routerLink="/forgot_password">Esqueceu sua senha?</a>
        </div>
        <div class="form-group">
            <button   (click)='autenticar()' [disabled]="loginForm.invalid"  class="btn btn-info btn-block" type="submit">Login</button>
        </div>

    </form>
</div>


<form-debug [formulario]="loginForm"></form-debug>
